___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
# Libraries
import numpy as np
import pandas as pd
from scipy import misc
import scipy
import json

# Display options
# pd.set_option('display.max_rows', 3000)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.max_info_rows', 3000)
# pd.set_option('display.max_info_columns', 500)
# pd.set_option('display.max_colwidth', 500)
# pd.set_option('display.expand_frame_repr', True)
# pd.set_option('display.width', 3000)

# # Visualisation
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline
# from collections import Counter
# import warnings
# warnings.filterwarnings('ignore') 

# # SQL
# import pyodbc
# import pandas.io.sql

# # Datetime
# from datetime import datetime
# now = datetime.now() # current date and time

In [145]:
df = pd.read_json("scout_car.json",lines=True,orient='columns')

In [146]:
df1 = df.copy()
df1.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.tail(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df1.sample(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
13912,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,None,Sedans,9400,None,"17,000 km",11/2017,1 previous owner,NaN,...,"[\n1 Hand Gebrauchtwagen, in 1A Zustand, Zweit...",[\n4 (Green)\n],[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
10758,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,1.6 CDTi 136 Selective Auto 5p #IVA DEDUCIBLE,Sedans,11650,VAT deductible,"107,100 km",03/2017,None,NaN,...,[\n¡Abrimos Domingos y festivos. ¡¡10.000 m2 d...,NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
5345,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,SPB 30 1.6 TDI 115CV Business CON OPTIONAL UFF...,Sedans,21900,None,1 km,-/-,None,NaN,...,"[\n, AUTOSERVICE PROPONE :, AUDI A3 30 SPB 1.6...",NaN,[\n6\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN
2744,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,Sportback 2.0 TDI Einparkhilfe Klima,Sedans,17440,VAT deductible,"83,954 km",04/2016,1 previous owner,NaN,...,"[\n, Fahrzeugnummer: F52654, HIGHLIGHTS & PAKE...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
4205,https://www.autoscout24.com//offers/audi-a3-2-...,Audi A3,2.0 TDI Sportback,Station wagon,18490,Price negotiable,"95,000 km",01/2017,2 previous owners,NaN,...,"[\nHallo liebe Autoscout Gemeinschaft,, hier b...",NaN,[\n6\n],NaN,NaN,"[\n03/2019\n, \nEuro 6\n]",NaN,NaN,NaN,NaN

In [6]:
df1.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [7]:
df1.shape

(15919, 54)

In [8]:
df1.size

859626

In [9]:
df1.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [10]:
df1.describe(include = object).T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a3-1-...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nTP62881\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [12]:
dtypes = pd.DataFrame(df1.dtypes, columns = ['dtypes'])
dtypes

                                dtypes
url                             object
make_model                      object
short_description               object
body_type                       object
price                            int64
vat                             object
km                              object
registration                    object
prev_owner                      object
kW                             float64
hp                              object
Type                            object
Previous Owners                 object
Next Inspection                 object
Inspection new                  object
Warranty                        object
Full Service                    object
Non-smoking Vehicle             object
null                            object
Make                            object
Model                           object
Offer Number                    object
First Registration              object
Body Color                      object
Paint Type                      object
Body Color Original             object
Upholstery                      object
Body                            object
Nr. of Doors                    object
Nr. of Seats                    object
Model Code                      object
Gearing Type                    object
Displacement                    object
Cylinders                       object
Weight                          object
Drive chain                     object
Fuel                            object
Consumption                     object
CO2 Emission                    object
Emission Class                  object
\nComfort & Convenience\n       object
\nEntertainment & Media\n       object
\nExtras\n                      object
\nSafety & Security\n           object
description                     object
Emission Label                  object
Gears                           object
Country version                 object
Electricity consumption         object
Last Service Date               object
Other Fuel Types                object
Availability                    object
Last Timing Belt Service Date   object
Available from                  object

In [13]:
notnull = pd.DataFrame(df.notnull().sum(), columns = ['notnull'])
notnull

                               notnull
url                              15919
make_model                       15919
short_description                15873
body_type                        15859
price                            15919
vat                              11406
km                               15919
registration                     15919
prev_owner                        9091
kW                                   0
hp                               15919
Type                             15917
Previous Owners                   9279
Next Inspection                   3535
Inspection new                    3932
Warranty                         10499
Full Service                      8215
Non-smoking Vehicle               7177
null                             15919
Make                             15919
Model                            15919
Offer Number                     12744
First Registration               14322
Body Color                       15322
Paint Type                       10147
Body Color Original              12160
Upholstery                       12199
Body                             15859
Nr. of Doors                     15707
Nr. of Seats                     14942
Model Code                        4978
Gearing Type                     15919
Displacement                     15423
Cylinders                        10239
Weight                            8945
Drive chain                       9061
Fuel                             15919
Consumption                      14013
CO2 Emission                     14111
Emission Class                   12898
\nComfort & Convenience\n        14999
\nEntertainment & Media\n        14545
\nExtras\n                       12957
\nSafety & Security\n            14937
description                      15919
Emission Label                    3985
Gears                            11207
Country version                   7586
Electricity consumption            137
Last Service Date                  566
Other Fuel Types                   880
Availability                       635
Last Timing Belt Service Date       16
Available from                     272

In [14]:
isnull = pd.DataFrame(df1.isnull().sum(), columns = ['isnull'])
isnull

                               isnull
url                                 0
make_model                          0
short_description                  46
body_type                          60
price                               0
vat                              4513
km                                  0
registration                        0
prev_owner                       6828
kW                              15919
hp                                  0
Type                                2
Previous Owners                  6640
Next Inspection                 12384
Inspection new                  11987
Warranty                         5420
Full Service                     7704
Non-smoking Vehicle              8742
null                                0
Make                                0
Model                               0
Offer Number                     3175
First Registration               1597
Body Color                        597
Paint Type                       5772
Body Color Original              3759
Upholstery                       3720
Body                               60
Nr. of Doors                      212
Nr. of Seats                      977
Model Code                      10941
Gearing Type                        0
Displacement                      496
Cylinders                        5680
Weight                           6974
Drive chain                      6858
Fuel                                0
Consumption                      1906
CO2 Emission                     1808
Emission Class                   3021
\nComfort & Convenience\n         920
\nEntertainment & Media\n        1374
\nExtras\n                       2962
\nSafety & Security\n             982
description                         0
Emission Label                  11934
Gears                            4712
Country version                  8333
Electricity consumption         15782
Last Service Date               15353
Other Fuel Types                15039
Availability                    15284
Last Timing Belt Service Date   15903
Available from                  15647

In [15]:
for column in df1.columns:
    percentage = df1[column].isnull().mean()
    print(f'{column}:{round(percentage*100, 2)}%')

url:0.0%
make_model:0.0%
short_description:0.29%
body_type:0.38%
price:0.0%
vat:28.35%
km:0.0%
registration:0.0%
prev_owner:42.89%
kW:100.0%
hp:0.0%
Type:0.01%
Previous Owners:41.71%
Next Inspection:77.79%
Inspection new:75.3%
Warranty:34.05%
Full Service:48.39%
Non-smoking Vehicle:54.92%
null:0.0%
Make:0.0%
Model:0.0%
Offer Number:19.94%
First Registration:10.03%
Body Color:3.75%
Paint Type:36.26%
Body Color Original:23.61%
Upholstery:23.37%
Body:0.38%
Nr. of Doors:1.33%
Nr. of Seats:6.14%
Model Code:68.73%
Gearing Type:0.0%
Displacement:3.12%
Cylinders:35.68%
Weight:43.81%
Drive chain:43.08%
Fuel:0.0%
Consumption:11.97%
CO2 Emission:11.36%
Emission Class:18.98%

Comfort & Convenience
:5.78%

Entertainment & Media
:8.63%

Extras
:18.61%

Safety & Security
:6.17%
description:0.0%
Emission Label:74.97%
Gears:29.6%
Country version:52.35%
Electricity consumption:99.14%
Last Service Date:96.44%
Other Fuel Types:94.47%
Availability:96.01%
Last Timing Belt Service Date:99.9%
Available from:98.29%

In [16]:
df1_summary = pd.concat([dtypes, notnull, isnull], axis = 1).reset_index().rename({'index':'Columns'},axis = 1)
df1_summary

                          Columns   dtypes  notnull  isnull
0                             url   object    15919       0
1                      make_model   object    15919       0
2               short_description   object    15873      46
3                       body_type   object    15859      60
4                           price    int64    15919       0
5                             vat   object    11406    4513
6                              km   object    15919       0
7                    registration   object    15919       0
8                      prev_owner   object     9091    6828
9                              kW  float64        0   15919
10                             hp   object    15919       0
11                           Type   object    15917       2
12                Previous Owners   object     9279    6640
13                Next Inspection   object     3535   12384
14                 Inspection new   object     3932   11987
15                       Warranty   object    10499    5420
16                   Full Service   object     8215    7704
17            Non-smoking Vehicle   object     7177    8742
18                           null   object    15919       0
19                           Make   object    15919       0
20                          Model   object    15919       0
21                   Offer Number   object    12744    3175
22             First Registration   object    14322    1597
23                     Body Color   object    15322     597
24                     Paint Type   object    10147    5772
25            Body Color Original   object    12160    3759
26                     Upholstery   object    12199    3720
27                           Body   object    15859      60
28                   Nr. of Doors   object    15707     212
29                   Nr. of Seats   object    14942     977
30                     Model Code   object     4978   10941
31                   Gearing Type   object    15919       0
32                   Displacement   object    15423     496
33                      Cylinders   object    10239    5680
34                         Weight   object     8945    6974
35                    Drive chain   object     9061    6858
36                           Fuel   object    15919       0
37                    Consumption   object    14013    1906
38                   CO2 Emission   object    14111    1808
39                 Emission Class   object    12898    3021
40      \nComfort & Convenience\n   object    14999     920
41      \nEntertainment & Media\n   object    14545    1374
42                     \nExtras\n   object    12957    2962
43          \nSafety & Security\n   object    14937     982
44                    description   object    15919       0
45                 Emission Label   object     3985   11934
46                          Gears   object    11207    4712
47                Country version   object     7586    8333
48        Electricity consumption   object      137   15782
49              Last Service Date   object      566   15353
50               Other Fuel Types   object      880   15039
51                   Availability   object      635   15284
52  Last Timing Belt Service Date   object       16   15903
53                 Available from   object      272   15647

# COLUMN-0 url (DROP)

Since the information in each row of this column is included by other columns there is no need to keep it for further analysis.

In [17]:
df1['url']

0        https://www.autoscout24.com//offers/audi-a1-sp...
1        https://www.autoscout24.com//offers/audi-a1-1-...
2        https://www.autoscout24.com//offers/audi-a1-sp...
3        https://www.autoscout24.com//offers/audi-a1-1-...
4        https://www.autoscout24.com//offers/audi-a1-sp...
                               ...
15914    https://www.autoscout24.com//offers/renault-es...
15915    https://www.autoscout24.com//offers/renault-es...
15916    https://www.autoscout24.com//offers/renault-es...
15917    https://www.autoscout24.com//offers/renault-es...
15918    https://www.autoscout24.com//offers/renault-es...
Name: url, Length: 15919, dtype: object

In [18]:
df1['url'][0]

'https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e'

In [19]:
df1['url'].unique()

array(['https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e',
       'https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b2547f8a-e83f-6237-e053-e250040a56df',
       'https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einparkhilfe-plus-music-diesel-black-6183cb6a-8570-4b86-a132-9b54214bca88',
       ...,
       'https://www.autoscout24.com//offers/renault-espace-blue-dci-200-edc-initiale-paris-leder-led-navi-key-diesel-white-6256d1a3-ea68-4193-91de-b5b5ffa4631c',
       'https://www.autoscout24.com//offers/renault-espace-blue-dci-200cv-edc-business-nuova-da-immatricola-diesel-grey-5b0251a1-bd88-475c-a039-7e499da85d9d',
       'https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481'],
      dtype=object)

In [20]:
df1['url'].nunique()

15919

# COLUMN-1 make_model (KEEP)

Although this column (make_model) seems clear; nevertheless, we will make a decision in accordaance with the columns of 19 "Make" and 20 "Model". Probably we will decide to maintain these 3 columns in case we need "Make" and "Model" seperately for further analysis.

In [21]:
# (1) make_model, (19) Make ve (20) Model sütunları içerikleri örtüştüğünden bu 3 sütunu beraber inceleyeceğiz.

In [22]:
df1.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [23]:
df1.make_model.nunique()

9

In [24]:
df1.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [25]:
df1[df1['make_model']=='Audi A2']

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
2614,https://www.autoscout24.com//offers/audi-a2-30...,Audi A2,"30 TDI Navi, Lane assist, Sitzheizung, Einpark...",Off-Road,28200,VAT deductible,"26,166 km",10/2018,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, 7-Gang-Automatikge...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1[df1['make_model'].isin(['Audi A2'])]

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
2614,https://www.autoscout24.com//offers/audi-a2-30...,Audi A2,"30 TDI Navi, Lane assist, Sitzheizung, Einpark...",Off-Road,28200,VAT deductible,"26,166 km",10/2018,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, 7-Gang-Automatikge...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df1[df1['body_type']=='Off-Road']

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
2614,https://www.autoscout24.com//offers/audi-a2-30...,Audi A2,"30 TDI Navi, Lane assist, Sitzheizung, Einpark...",Off-Road,28200,VAT deductible,"26,166 km",10/2018,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, 7-Gang-Automatikge...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
7106,https://www.autoscout24.com//offers/opel-astra...,Opel Astra,K ST INNO Matrix IntelliLink Lenk/SHZ T-Leder ...,Off-Road,18590,VAT deductible,"12,607 km",06/2018,1 previous owner,NaN,...,"[\nFahrtauglich, 4 Einstiegstüren, Herstellerg...",[\n4 (Green)\n],[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,SELECTIVE 1.4 GASOLINA 90CV,Off-Road,7900,None,"35,410 km",04/2017,None,NaN,...,"[\n¡¡TOTALMENTE EQUIPADO!!, Sistema antibloque...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,SELECTIVE 1.4 GASOLINA 90CV 5P,Off-Road,7900,None,"37,634 km",04/2017,None,NaN,...,"[\n¡¡TOTALMENTE EQUIPADO!!, Sistema antibloque...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
9148,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,COLOR EDITION 1.4 TURBO 100CV S/S 5P,Off-Road,8700,None,"79,143 km",03/2017,None,NaN,...,"[\n¡¡TOTALMENTE EQUIPADO!!, Asiento trasero di...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
10818,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,2.0 CDTi 170cv COUNTRY TOURER // 4WD // AUTOM //,Off-Road,12750,VAT deductible,"159,000 km",05/2016,1 previous owner,NaN,...,"[\n, ETAT IMPECCABLE ! *** , 1ER PROPRIETAIRE ...",NaN,NaN,[\nBelgium\n],NaN,NaN,NaN,NaN,NaN,NaN
12545,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Country Tourer 2.0CDTI S&S Aut. 4x4 210,Off-Road,34776,None,- km,-/-,None,NaN,...,[],NaN,[\n8\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
12629,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Country Tourer 1.6 T SHT S&S Aut. 4x4 200,Off-Road,32345,None,- km,-/-,None,NaN,...,[],NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
12647,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Country Tourer 2.0CDTI S&S Aut. 170,Off-Road,31505,None,- km,-/-,None,NaN,...,[],NaN,[\n8\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
12809,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Sports Tourer INNOVATION 1.5 DIRECT INJEC 121 ...,Off-Road,33490,VAT deductible,8 km,-/-,None,NaN,...,"[\n- 180-Grad-Panorama-Ruckfahrkame, - Park & ...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
12822,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,CT 2.0 CDTi Turbo D 4x4 Country Tourer,Off-Road,28500,Price negotiable,93 km,01/2019,None,NaN,...,[\nSe trata de un COCHE NUEVO! con sólo 93 Km ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
12908,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,Country Tourer 2.0CDTI S&S 4x4 170,Off-Road,32793,None,- km,-/-,None,NaN,...,[],NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
13678,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,1.5 dCi 75CV Life ITALIANA KMCertificati,Off-Road,7700,None,"95,000 km",05/2016,1 previous owner,NaN,...,"[\n, RENAULT CLIO 1.5 dCi 75cv Life, Auto ital...",NaN,[\n5\n],[\nItaly\n],NaN,"[\n09/2018\n, \nEuro 6\n]",NaN,NaN,NaN,NaN
14056,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,4 Intens Energy 5-Türer TCE 120 88KW 120PS ED,Off-Road,17990,VAT deductible,500 km,04/2019,1 previous owner,NaN,...,"[\n, Ausstattungspakete:, Ausstattungspaket: ...",[\n4 (Green)\n],[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14894,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,13250,None,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix T1 (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14895,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,16033,VAT deductible,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,NaN,[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14896,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,16033,VAT deductible,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14897,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,16033,VAT deductible,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14898,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,16033,VAT deductible,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14899,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,13250,None,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14900,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,13250,None,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,NaN,[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14901,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,13250,None,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix tota...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14902,https://www.autoscout24.com//offers/renault-du...,Renault Duster,P1.6L 4x4 MT 2018 - ONLY TO EXPORT OUT EU,Off-Road,10850,None,- km,-/-,None,NaN,...,"[\nRENAULT DUSTER P1.6L 4x4 MT 2018, ONLY TO E...",NaN,NaN,[\nBelgium\n],NaN,NaN,NaN,NaN,NaN,NaN
14903,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,14399,VAT deductible,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14904,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,14399,VAT deductible,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14905,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,13189,VAT deductible,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14906,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,14823,VAT deductible,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14907,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,14823,VAT deductible,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14908,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,14823,VAT deductible,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14909,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,14399,VAT deductible,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14910,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,14399,VAT deductible,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14911,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,14823,VAT deductible,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14912,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,13189,VAT deductible,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14913,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,13189,VAT deductible,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14914,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,13189,VAT deductible,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix TVAC...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14915,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,12250,None,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix t...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14916,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,12250,None,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix tota...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14917,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,12250,None,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14918,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,12250,None,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix T1 (...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14919,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,11900,None,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14920,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,11900,None,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix t...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14921,https://www.autoscout24.com//offers/renault-du...,Renault Duster,1.6L PETROL 4WD 4X4 NEW CAR FOR EXPORT,Off-Road,12000,None,- km,-/-,None,NaN,...,"[\n, [FRENCH], ""INTERTRADE PROJECTS BELGIUM"" O...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14922,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,11900,None,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix T1 (...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14923,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Deluxe - EXPORT OUT EU TROPICAL VERSION - EXPO...,Off-Road,11900,None,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix tota...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14924,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,10900,None,- km,-/-,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix T...",NaN,[\n6\n],[\nJapan\n],NaN,NaN,NaN,NaN,NaN,NaN
14925,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,10900,None,101 km,06/2019,None,NaN,...,"[\n, - EXPORT OUT EU TROPICAL VERSION, Prix t...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14926,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,10900,None,101 km,06/2019,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix tota...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14927,https://www.autoscout24.com//offers/renault-du...,Renault Duster,Standard - EXPORT OUT EU TROPICAL VERSION - EX...,Off-Road,10900,None,- km,-/-,None,NaN,...,"[\n- EXPORT OUT EU TROPICAL VERSION, Prix T1 (...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
14936,https://www.autoscout24.com//offers/renault-es...,Renault Espace,dCi 160CV EDC Energy Intens,Off-Road,22500,None,"70,000 km",05/2017,1 previous owner,NaN,...,[],NaN,[\n6\n],[\nItaly\n],NaN,"[\n04/2019\n, \n120 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
15038,https://www.autoscout24.com//offers/renault-es...,Renault Espace,V Intens dCi160 Aut.|4Con|Pan|19?|AHK|1HD,Off-Road,24900,VAT deductible,"42,700 km",03/2017,1 previous owner,NaN,...,"[\n, Fahrzeug | Modell:, Renault Espace V Inte...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
15284,https://www.autoscout24.com//offers/renault-es...,Renault Espace,V 2015 espace 1.6 dci energy Intens 160cv 7p.t...,Off-Road,14900,VAT deductible,"141,522 km",11/2016,None,NaN,...,"[\n, - PREZZO ESPOSTO ESCLUSO PASSAGGIO DI PRO...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15350,https://www.autoscout24.com//offers/renault-es...,Renault Espace,1.6 dCi 160 Limited Auto 5p,Off-Road,27850,None,"32,400 km",02/2018,None,NaN,...,[\n¡Abrimos Domingos y festivos. ¡¡10.000 m2 d...,NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15355,https://www.autoscout24.com//offers/renault-es...,Renault Espace,1.6 dCi 160 Limited Auto 5p,Off-Road,27850,None,"32,400 km",02/2018,None,NaN,...,[\n¡Abrimos Domingos y festivos. ¡¡10.000 m2 d...,NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15380,https://www.autoscout24.com//offers/renault-es...,Renault Espace,dCi 160CV INTENS,Off-Road,25700,None,"21,850 km",12/2017,1 previous owner,NaN,...,"[\nOFFERTA DEL MESE, VIENI A SCOPRIRE LE NOSTR...",NaN,[\n6\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN
15479,https://www.autoscout24.com//offers/renault-es...,Renault Espace,dCi 160CV EDC Energy Initiale Par 4 control,Off-Road,32900,VAT deductible,"16,800 km",10/2017,None,NaN,...,[\nPraticamente nuova. NB: Veicolo con 4 ruote...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15626,https://www.autoscout24.com//offers/renault-es...,Renault Espace,dCi 160CV EDC Energy Initiale Paris 7posti,Off-Road,29500,VAT deductible,"31,686 km",05/2017,None,NaN,...,"[\n, compreso, nel prezzo Assistenza RENAULT ...",NaN,[\n6\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df1.make_model.isnull().sum()

0

In [29]:
# () Make sütunu incelemesi
df.Make

0           \nAudi\n
1           \nAudi\n
2           \nAudi\n
3           \nAudi\n
4           \nAudi\n
            ...
15914    \nRenault\n
15915    \nRenault\n
15916    \nRenault\n
15917    \nRenault\n
15918    \nRenault\n
Name: Make, Length: 15919, dtype: object

In [30]:
df1['Make'] = df1['Make'].map(lambda x : x.strip('\n '), na_action = 'ignore')
df1['Make']

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: Make, Length: 15919, dtype: object

In [31]:
df1['Make'].value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [32]:
df1['Make'].isnull().sum()

0

In [33]:
# () Model sütunu incelemesi
df1.Model

0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object

In [34]:
df1['Model'] = df1['Model'].map(lambda x : x[1], na_action = 'ignore')
df1['Model']

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: Model, Length: 15919, dtype: object

In [35]:
df1['Model'].value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [36]:
df1['Model'].isnull().sum()

0

In [37]:
df1[['make_model', 'Make', 'Model']].sample(20)

          make_model  Make     Model
1014         Audi A1  Audi        A1
5269         Audi A3  Audi        A3
8184      Opel Astra  Opel     Astra
11422  Opel Insignia  Opel  Insignia
12472  Opel Insignia  Opel  Insignia
10856  Opel Insignia  Opel  Insignia
118          Audi A1  Audi        A1
4838         Audi A3  Audi        A3
10417     Opel Corsa  Opel     Corsa
12446  Opel Insignia  Opel  Insignia
1234         Audi A1  Audi        A1
12577  Opel Insignia  Opel  Insignia
607          Audi A1  Audi        A1
9004      Opel Corsa  Opel     Corsa
1382         Audi A1  Audi        A1
10160     Opel Corsa  Opel     Corsa
2039         Audi A1  Audi        A1
12380  Opel Insignia  Opel  Insignia
696          Audi A1  Audi        A1
1350         Audi A1  Audi        A1

In [38]:
df[['make_model', 'Make', 'Model']].isnull().sum()

make_model    0
Make          0
Model         0
dtype: int64

In [39]:
pd.get_dummies(df1.make_model).sample(20)

,Audi A1,Audi A2,Audi A3,Opel Astra,Opel Corsa,Opel Insignia,Renault Clio,Renault Duster,Renault Espace
11487,0,0,0,0,0,1,0,0,0
14038,0,0,0,0,0,0,1,0,0
5625,0,0,1,0,0,0,0,0,0
6495,0,0,0,1,0,0,0,0,0
11095,0,0,0,0,0,1,0,0,0
14526,0,0,0,0,0,0,1,0,0
9487,0,0,0,0,1,0,0,0,0
3429,0,0,1,0,0,0,0,0,0
3489,0,0,1,0,0,0,0,0,0
8030,0,0,0,1,0,0,0,0,0
6123,0,0,0,1,0,0,0,0,0
3444,0,0,1,0,0,0,0,0,0
7405,0,0,0,1,0,0,0,0,0
6750,0,0,0,1,0,0,0,0,0
5592,0,0,1,0,0,0,0,0,0
582,1,0,0,0,0,0,0,0,0
6326,0,0,0,1,0,0,0,0,0
7329,0,0,0,1,0,0,0,0,0
4528,0,0,1,0,0,0,0,0,0
3631,0,0,1,0,0,0,0,0,0

# COLUMN-2 short_description (DROP)

Since the information in each row of this column is included by other columns so there is no need to keep it for further analysis.

In [40]:
df.short_description

0              Sportback 1.4 TDI S-tronic Xenon Navi Klima
1                                           1.8 TFSI sport
2        Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
3                                  1.4 TDi Design S tronic
4        Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
                               ...
15914                Blue dCi 200CV EDC Executive 4Control
15915                  TCe 225 EDC GPF LIM Deluxe Pano,RFK
15916    Blue dCi 200 EDC Initiale Paris Leder LED Navi...
15917    Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...
15918          INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
Name: short_description, Length: 15919, dtype: object

In [41]:
df.short_description[0]

'Sportback 1.4 TDI S-tronic Xenon Navi Klima'

In [42]:
df.url[0]

'https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e'

In [43]:
df.short_description.unique()

array(['Sportback 1.4 TDI S-tronic Xenon Navi Klima', '1.8 TFSI sport',
       'Sportback 1.6 TDI S tronic Einparkhilfe plus+music', ...,
       'ELYSEE ENERGY dCi 160 EDC',
       'INITIALE Paris TCe 225 EDC GPF ACC EU6',
       'TCe 225 EDC GPF LIM Deluxe Pano,RFK'], dtype=object)

In [44]:
df.short_description.nunique()

10001

In [45]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                    64
NaN                                                  46
1.4 66kW (90CV) Selective                            40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH                38
SPB 30 TDI S tronic Business                         35
                                                     ..
SPB 1.8 TFSI S tronic Sport S-line                    1
K Sports Tourer Edition Start/Stop Euro 6             1
Sportback 1.0 TFSI Advance | 17 Inch Lichtmetalen     1
1.6 CDTI Innovation KAMERA*PDC V*H*UVM*               1
**TOP** Selection 3t Cool&Sound *limited* Klima       1
Name: short_description, Length: 10002, dtype: int64

In [46]:
df.short_description.isnull().sum()

46

# COLUMN-3 body_type (KEEP)

In [47]:
# (3) body_type ve (27) Body sütunlarını aynı bilgiyi içerdiğinden bu 2 sütunu beraber inceleyeceğiz.

In [48]:
df1['body_type'].unique()

array(['Sedans', 'Station wagon', 'Compact', 'Other', 'Coupe', 'Van',
       'Off-Road', 'Convertible', None, 'Transporter'], dtype=object)

In [49]:
df1.body_type.nunique()

9

In [50]:
df1.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [51]:
df1.body_type.isnull().sum()

60

In [52]:
df1[['body_type', 'Body']].sample(20)

           body_type                     Body
8891         Compact        [\n, Compact, \n]
3316          Sedans         [\n, Sedans, \n]
786           Sedans         [\n, Sedans, \n]
14525        Compact        [\n, Compact, \n]
2689   Station wagon  [\n, Station wagon, \n]
8060          Sedans         [\n, Sedans, \n]
3904          Sedans         [\n, Sedans, \n]
6260          Sedans         [\n, Sedans, \n]
2225         Compact        [\n, Compact, \n]
8667          Sedans         [\n, Sedans, \n]
12765  Station wagon  [\n, Station wagon, \n]
1369          Sedans         [\n, Sedans, \n]
2591          Sedans         [\n, Sedans, \n]
5820   Station wagon  [\n, Station wagon, \n]
7691   Station wagon  [\n, Station wagon, \n]
13372         Sedans         [\n, Sedans, \n]
5128   Station wagon  [\n, Station wagon, \n]
14318         Sedans         [\n, Sedans, \n]
11052         Sedans         [\n, Sedans, \n]
713           Sedans         [\n, Sedans, \n]

In [53]:
df1[['body_type', 'Body']].isnull().sum()

body_type    60
Body         60
dtype: int64

In [54]:
df1['Body'] = df1['Body'].map(lambda x : x[1], na_action = 'ignore')
df1['Body']

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: Body, Length: 15919, dtype: object

In [55]:
df1['Body'].unique()

array(['Sedans', 'Station wagon', 'Compact', 'Other', 'Coupe', 'Van',
       'Off-Road', 'Convertible', nan, 'Transporter'], dtype=object)

In [56]:
df1['Body'].nunique()

9

In [57]:
df1['Body'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [58]:
df1['Body'].isnull().sum()

60

# COLUMN-4 price (KEEP)

Target sütun

In [59]:
df1.price.unique()

array([15770, 14500, 14640, ..., 41390, 39885, 39875], dtype=int64)

In [60]:
df1.price.nunique()

2956

In [61]:
df1.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
31940      1
15540      1
21649      1
27790      1
34815      1
Name: price, Length: 2956, dtype: int64

In [62]:
df1.price.isnull().sum()

0

In [63]:
df1[df1.price == 'nan'].value_counts().sum()

0

In [64]:
plt.figure(figsize=(12,8))

sns.boxplot(x = df1.price)

plt.show()

NameError: name 'plt' is not defined

In [ ]:
plt.figure(figsize=(12,8))

sns.histplot(x = df1.price, kde=True)

plt.show()

# COLUMN-5 vat (KEEP)

In [ ]:
df1.vat.unique()

In [ ]:
df1.vat.nunique()

In [ ]:
df1.vat.value_counts(dropna=False)

In [ ]:
df1.vat.isnull().sum()

In [ ]:
pd.get_dummies(df1.vat).head()

# COLUMN-6 km (KEEP)

In [ ]:
df1.km.unique()

In [ ]:
df1.km.nunique()

In [ ]:
df1.km.value_counts(dropna=False)

In [ ]:
df1.km.isnull().sum()

In [ ]:
df1[['km']]

In [ ]:
df1.km.str.replace(',', "")

In [ ]:
df1['km'] = df1.km.str.replace(',','').str.strip(' km').replace('-', np.nan).astype(float)
# df1.km.str.replace(',', "").str.extract('(\d+)').astype(float).head()

In [ ]:
df1['km']

# COLUMN-7 registration (KEEP)

Age sütunu oluşturduğumuzdan farklı bir maksatla kullanılmayacağı değerlendirilirse DROP edilecek.

Age1 sütunu da DROP edilecek(First Registration)

In [ ]:
# (8)registration & (22)First Registration sütunları içerikleri örtüştüğünden bu 2 sütunu beraber inceleyeceğiz.

In [ ]:
df1[['registration', 'First Registration']].isnull().sum()

In [ ]:
df1[['registration', 'First Registration']].sample(5)

In [ ]:
# 'registration' sütunu ile AGE hesaplaması

In [ ]:
df1['registration'].map(lambda x: x[3:], na_action = 'ignore')

In [ ]:
df1['registration'] = df1['registration'].map(lambda x: x[3:], na_action = 'ignore')

In [ ]:
df1['registration'] = pd.to_numeric(df1['registration'],errors = 'coerce')

In [ ]:
df1['age'] = 2019 - df1['registration']
df1['age']

In [ ]:
# 'First Registration' sütunu ile AGE hesaplaması

In [ ]:
df1['First Registration'].map(lambda x: float(x[1]), na_action = 'ignore')

In [ ]:
df1['First Registration'] = df1['First Registration'].map(lambda x: float(x[1]), na_action = 'ignore')

In [ ]:
df1['age1'] = 2019 - df1['First Registration'] # ---> 'age' isimli yeni bir sütun oluşturduk.
df1['age1']

In [ ]:
# Her 2 sütunda yapılan işlemler sonucu NULL değer durumu

In [ ]:
df1[['registration', 'First Registration']].isnull().sum()

In [ ]:
# 'registration' sütununda ISNULL olup 'First Registration' sütununda NOTNULL alan kontrolü

In [ ]:
df1[(df1['registration'].isnull())& (df1['First Registration'].notnull())].value_counts().sum()

In [ ]:
df1[(df1['registration'].notnull()) & (df1['First Registration'].isnull())].value_counts().sum()

In [ ]:
df1[['registration', 'First Registration']].sample(20)

In [ ]:
(df1['registration']==df1['First Registration']).value_counts()

In [ ]:
df1[(df1['registration']!=df1['First Registration'])][['registration','First Registration']].shape

In [ ]:
# AGE her 2 sütun ile de hesaplanabiliyor. Bir sütundaki NULL değerler diğer sütundaki NULL değerler ile eşleştiğinden 
# istediğimiz sütunu kullanıp diğerini DROP edebiliriz.
# "registration" kullanılacak "First Registration" sütunu DROP edilecek.

# COLUMN-8 prev_owner (KEEP)

In [ ]:
# (9)prev_owner & (13)Previous Owners sütunları içerikleri örtüştüğünden bu 2 sütunu beraber inceleyeceğiz.

In [ ]:
df1[['prev_owner', 'Previous Owners']].isnull().sum()

In [ ]:
df1[['prev_owner', 'Previous Owners']].sample(5)

In [ ]:
# 'prev_owner' ile çalışma

In [ ]:
df1['prev_owner'].str.strip('previous owners').astype(float)

In [ ]:
df1.prev_owner = df1.prev_owner.str.strip('previous owners').astype(float)

In [ ]:
df1.prev_owner.value_counts(dropna=False)

In [ ]:
# 'Previous Owners' ile çalışma

In [ ]:
df1['Previous Owners'].str.strip('\n').astype(float)

In [ ]:
df1['Previous Owners'] = df1['Previous Owners'].str.strip('\n').astype(float)

In [ ]:
df1['Previous Owners'].value_counts(dropna=False)

In [ ]:
# Her 2 sütunda yapılan işlemler sonucu NULL değer durumu

In [ ]:
df1[['prev_owner', 'Previous Owners']].isnull().sum()

In [ ]:
df1[['prev_owner', 'Previous Owners', 'age']].sample(20)

In [ ]:
#'Previous Owners' sütununda 0 değerlerin age karşılıklarını kontrol et. 2019 yaş o ise new denebilir.

In [ ]:
# 'prev_owner' sütununda ISNULL olup 'Previous Owners' sütununda NOTNULL alan kontrolü

In [ ]:
pd.set_option('display.max_rows', None)
df1[(df1['prev_owner'].isnull()) & (df1['Previous Owners'].notnull())][['prev_owner','Previous Owners']].value_counts().sum()

In [ ]:
pd.set_option('display.max_rows', None)
df1[(df1['prev_owner'].notnull()) & (df1['Previous Owners'].isnull())][['prev_owner','Previous Owners']].value_counts().sum()

In [ ]:
# Düzenleme yapılıp her 2 sütundaki prevowner sayıları alındıktan sonra null değerlere bakıldığında 'prev_owner' 
# sütununun kullanılması daha uygun. Daha az null değer var. 
# 'Previous Owners' sütunu başka bir yerde kullanılmayacaksa DROP edilebilir.

# 'Previous Owners' sütununda 163 adet 0 değer mevcut. NEW için kullanılabilir.

In [ ]:
df1[['prev_owner', 'Previous Owners']].value_counts()

In [ ]:
df1.prev_owner.value_counts(dropna=False)

In [ ]:
df1['Previous Owners'].value_counts(dropna=False)

In [ ]:
df1[['prev_owner', 'Previous Owners']].isnull().sum()

In [ ]:
df1[(df1['prev_owner'].notnull()) != (df1['Previous Owners'].notnull())][['prev_owner', 'Previous Owners']]

In [ ]:
df1[(df1['Previous Owners']==0.0) ][['Previous Owners', 'age', 'registration', 'vehicle_condition']].sort_values(by='age')

In [ ]:
# 'Previous Owners' sütunundaki 0.0 değerleri 'prev_owner' sütununa geçirilecek ve  'Previous Owners'  DROP edilecek
# vehicle condition used olanlardan yapılabilirse prev__owner ı 0 olanlar 1 olacak
# prev owner 0 olanlardan age boş olanlar 0 girilecek.

# COLUMN-9 kW (DROP)

DROP edilecek

In [ ]:
df1['kW']

In [ ]:
df1['kW'].isnull().sum()

In [ ]:
# 'kW' sütunu tamamiyle NULL olduğundan DROP edilecek.

# COLUMN-10 hp (KEEP)

In [ ]:
df1['hp']

In [ ]:
df1['hp'].isnull().sum()

In [ ]:
df1['hp'].value_counts().index.sort_values()

In [ ]:
#df1[df1['hp'] == '1 kW']

In [ ]:
#df1.hp[(df1['make_model']=='Opel Astra') & (df1['short_description'].str.contains('SW OPEL SW 1.0 EASYTRONIC 105 CV', case=True, regex=True))]

In [ ]:
#df1.loc[df1.hp=='4 kW','hp']='54 kW'

In [ ]:
#df1.hp[(df1['make_model']=='Opel Astra') & (df1['short_description'].str.contains('SW OPEL SW 1.0 EASYTRONIC 105 CV', case=True, regex=True))]

In [ ]:
#df1[df1['hp'] == '4 kW']

In [ ]:
#df1.hp[(df1['make_model']=='Renault Clio') & (df1['short_description'].str.contains('1.2 16V 75 LIFE', case=True, regex=True))]

In [ ]:
#df1.hp[(df1['make_model']=='Renault Clio') & (df1['short_description'].str.contains('1.2 16V 75 LIFE', case=True, regex=True))].replace('4 kW', '54 kW')

In [ ]:
#df1.loc[df1.hp=='4 kW','hp']='54 kW'

In [ ]:
#df1[df1['hp'] == '4 kW']

In [ ]:
#df1['hp'].value_counts().index.sort_values()

In [ ]:
df1['hp'].str.strip(' kW').replace('-', np.nan).astype(float)

In [ ]:
df1['hp']

In [ ]:
df1['hp'].isnull().sum()

In [ ]:
df1['hp'].value_counts().index.unique()

# COLUMN-11 Type (DROP)

Bir sonraki aşamada DROP edilecek.

In [ ]:
# (11) 'Type', (36) 'Fuel' ve (50)  'Other Fuel Types' sütunları içerikleri benzer olduğundan bu 3 sütunu beraber inceleyeceğiz.

In [ ]:
df1[['Type', 'Fuel', 'Other Fuel Types']]

In [ ]:
df1[['Type', 'Fuel', 'Other Fuel Types']].isnull().sum()

In [ ]:
# 'Other Fuel Types' sütunu DROP edilecek. İçi boş.

In [ ]:
# 'Type' sütunu incelemesi

In [ ]:
df1['Type']  # Bu sütunda aracın durumu ile yakıt türü bilgileri mevcut.

In [ ]:
# Raife Hoca, Type sütununda hem aracın durum bilgileri (New, Used, Pre-registered, Demonstration) olduğundan, 
# hem de yakıt bilgileri olduğundan şimdilik 2 sütuna ayıracağını belirtmiş. (Vehicle condition, Fuel Type)
# Yeni oluşturulacak Fuel Type sütunu Fuel sütunu ile karşılaştırılarak hangisinin kullanılıcağına karar verileceğini belirtmiş.

# Biz sadece bu sütundan vehicle condition isimli tek sütun elde edeceğiz.
# Fuel sütununda NULL değer olmadığından yakıt bilgileri için FUEL sütununu kullanacağız.

In [ ]:
df1.Type.map(lambda x : x[1], na_action = 'ignore')

In [ ]:
df1['vehicle_condition'] = df.Type.map(lambda x : x[1], na_action = 'ignore')

In [ ]:
df1['vehicle_condition'].isnull().sum()

In [ ]:
df1['vehicle_condition'].value_counts(dropna=False)

In [ ]:
# Raife Hoca dan

# Bu sütun Used ve New olacak şekilde düzenlenmeli. 
# Pre-registered olanlara (henüz register bile olmadığından) New diyeceğiz
# Demonstration olanlara da (test aracı olduğu düşünülerek) Used diyeceğiz.

# Employee's car olanlar USED şeklinde düzenlenebilir

In [ ]:
# vehicle_condition (New) sütunu ile prev_owner sütunu karşılaştırması
pd.set_option('display.max_rows', None)
df1[(df1['vehicle_condition'] == 'New') & (df['prev_owner'].isnull())][['vehicle_condition','prev_owner']].sample(50)
# 5*50 sample çektim. Previous Owners sütunları NaN geliyor

In [ ]:
# vehicle_condition (New) sütunu ile Previous Owner sütunu karşılaştırması
pd.set_option('display.max_rows', None)
df1[(df1['vehicle_condition'] == 'New') & (df['Previous Owners'].isnull())][['vehicle_condition','Previous Owners']].sample(50)
# 5*50 sample çektim. Previous Owners sütunları NaN geliyor

In [ ]:
# vehicle_condition (New) sütunu ile prev_owner sütunu karşılaştırması
pd.set_option('display.max_rows', None)
df1[(df1['vehicle_condition'] == 'New') & (df['Previous Owners'].isnull())][['vehicle_condition','Previous Owners']].sample(50)
# 5*50 sample çektim. Previous Owners sütunları NaN geliyor

In [ ]:
(df1['fuel_type']==df1['Fuel']).value_counts(dropna=False)

# COLUMN-12 Previous Owners (DROP)

0.0 OLAN DEĞERLER 'prev_owner' sütununa yapıştırıldıktan sonra DROP edilecek.

In [ ]:
# COLUMN-9 prev_owner sütunu ile beraber incelendi. Aynı bilgileri içerdiğinden farklı bir yerde kullanılmayacak ise 
# DROP edilecek

# COLUMN-13 Next Inspection

In [70]:
df['Next Inspection'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n06/2020\n, \n127 g CO2/km (comb)\n]        1
[\n08/2020\n, \nEuro 6\n]                     1
[\n04/2020\n, \n129 g CO2/km (comb)\n]        1
[\n06/2022\n, \n128 g CO2/km (comb)\n]        1
[\n03/2020\n, \n150 g CO2/km (comb)\n]        1
Name: Next Inspection, Length: 1400, dtype: int64

In [85]:
df['Next Inspection'].head(20)

0      [\n06/2021\n, \n99 g CO2/km (comb)\n]
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8      [\n02/2020\n, \n97 g CO2/km (comb)\n]
9                                        NaN
10                                       NaN
11                                       NaN
12    [\n09/2019\n, \n112 g CO2/km (comb)\n]
13                                       NaN
14     [\n10/2019\n, \n99 g CO2/km (comb)\n]
15     [\n04/2020\n, \n97 g CO2/km (comb)\n]
16                                       NaN
17                                       NaN
18                               \n07/2020\n
19                                       NaN
Name: Next Inspection, dtype: object

In [86]:
df1['Next Inspection'] = [item[0] if type(item) == list else item for item in df1['Next Inspection']]
df1['Next Inspection'].head(20)

0     \n06/2021\n
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8     \n02/2020\n
9             NaN
10            NaN
11            NaN
12    \n09/2019\n
13            NaN
14    \n10/2019\n
15    \n04/2020\n
16            NaN
17            NaN
18    \n07/2020\n
19            NaN
Name: Next Inspection, dtype: object

In [87]:
df1['Next Inspection'] = df1['Next Inspection'].str.strip('\n')

In [88]:
df1['Next Inspection'].value_counts(dropna=False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
12/2022        1
12/2017        1
11/2022        1
02/2017        1
05/2016        1
Name: Next Inspection, Length: 78, dtype: int64

# COLUMN-14 Inspection new

In [103]:
df1['Inspection new'].value_counts(dropna=False)

NaN        11987
\nYes\n     3932
Name: Inspection new, dtype: int64

In [104]:
df1['Inspection new'].head(10)

0    \nYes\n
1        NaN
2        NaN
3        NaN
4    \nYes\n
5        NaN
6    \nYes\n
7    \nYes\n
8        NaN
9        NaN
Name: Inspection new, dtype: object

In [105]:
df1['Inspection new'] = [item[0] if type(item) == list else item for item in df1['Inspection new']]
df1['Inspection new'].head(10)

0    \nYes\n
1        NaN
2        NaN
3        NaN
4    \nYes\n
5        NaN
6    \nYes\n
7    \nYes\n
8        NaN
9        NaN
Name: Inspection new, dtype: object

In [108]:
df1['Inspection new'] = df1['Inspection new'].str.strip('\n')

In [109]:
df1['Inspection new'].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection new, dtype: int64

# COLUMN-15 Warranty

In [76]:
df1['Warranty'].head(10)

0             [\n, \n, \n4 (Green)\n]
1                                 NaN
2    [\n, \n, \n99 g CO2/km (comb)\n]
3                                 NaN
4                [\n, \n, \nEuro 6\n]
5                                 NaN
6                                 NaN
7                [\n, \n, \nEuro 6\n]
8         [\n12 months\n, \nEuro 6\n]
9                        \n3 months\n
Name: Warranty, dtype: object

In [77]:
df1['Warranty'] = [item[0] if type(item) == list else item for item in df1['Warranty']]

In [78]:
df1['Warranty']

0                   \n
1                  NaN
2                   \n
3                  NaN
4                   \n
             ...
15914    \n24 months\n
15915               \n
15916               \n
15917               \n
15918              NaN
Name: Warranty, Length: 15919, dtype: object

In [79]:
df1['Warranty'] = df1['Warranty'].str.strip('\n')

In [80]:
df1['Warranty']

0
1              NaN
2
3              NaN
4
           ...
15914    24 months
15915
15916
15917
15918          NaN
Name: Warranty, Length: 15919, dtype: object

In [81]:
df1['Warranty'].value_counts(dropna=False)

             5646
NaN          5420
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
26 months       4
50 months       4
16 months       4
19 months       3
34 months       3
1 months        3
4 months        3
13 months       3
17 months       2
28 months       2
14 months       2
21 months       2
22 months       2
11 months       2
46 months       2
45 months       2
9 months        2
33 months       1
7 months        1
56 months       1
30 months       1
40 months       1
49 months       1
15 months       1
47 months       1
10 months       1
8 months        1
65 months       1
Name: Warranty, dtype: int64

In [ ]:
df1['Warranty'].value_counts(dropna=False)

In [ ]:
# df1['Warranty'] = df1.Warranty.apply(lambda x : x[0] if type(x) == list else x)
# df1['Warranty'] = df1.Warranty.str.strip("\n").str.extract('(\d+)')[0].astype(float)

# COLUMN-16 Full Service (DROP)

Sütundaki verilere diğer sutunlarda daha temiz ulaşılabildiğinden, içindeki verilerle diğer sütunların NULL value larının doldurulması sonrası DROP edilecek.

In [ ]:
df1['Full Service'].head(3)

In [ ]:
df1['Full Service'].isnull().sum()

# COLUMN-17 Non-smoking Vehicle (DROP)

Sütundaki verilere diğer sutunlarda daha temiz ulaşılabildiğinden, içindeki verilerle diğer sütunların NULL value larının doldurulması sonrası DROP edilecek.

In [ ]:
df1['Non-smoking Vehicle'].head(3)

In [ ]:
df1['Non-smoking Vehicle'].isnull().sum()

# COLUMN-18 null (DROP)

In [67]:
df1['null'].unique

<bound method Series.unique of 0        []
1        []
2        []
3        []
4        []
         ..
15914    []
15915    []
15916    []
15917    []
15918    []
Name: null, Length: 15919, dtype: object>

# COLUMN-19 Make (DROP)

In [ ]:
# (1) 'make_model' sütunu ile beraber incelendi. Aynı bilgileri içerdiğinden DROP edilecek

# COLUMN-20 Model (DROP)

In [ ]:
# (1) 'make_model' sütunu ile beraber incelendi. Aynı bilgileri içerdiğinden DROP edilecek

# COLUMN-21 Offer Number

# COLUMN-22 First Registration (DROP)

DROP edilecek

In [ ]:
# COLUMN-8 registration sütunu ile beraber incelendi. Aynı bilgileri içerdiğinden DROP edilecek

# COLUMN-23 Body Color (KEEP)

In [ ]:
df1['Body Color'].value_counts(dropna=False)

In [ ]:
df1['Body Color'] = df1['Body Color'].map(lambda x : x[1], na_action = 'ignore')

In [ ]:
df1['Body Color'].value_counts(dropna=False)

# COLUMN-24 Paint Type (KEEP)

In [ ]:
df1['Paint Type'].value_counts(dropna=False)

In [ ]:
df['Paint Type'] = df['Paint Type'].map(lambda x : x[0].strip('\n '), na_action = 'ignore')

In [ ]:
df['Paint Type'].value_counts(dropna=False)

# COLUMN-25 Body Color Original (DROP)

In [ ]:
df1['Body Color Original'].value_counts(dropna=False)

In [ ]:
df1['Body Color Original'] = df1['Body Color Original'].map(lambda x : x[0].strip('\n'), na_action = 'ignore')

In [ ]:
df1['Body Color Original'].value_counts(dropna=False)

In [ ]:
df1[df1['Body Color Original'].str.contains('met', na=False)].shape #[['Body Color Original','Paint Type']].shape
# 'Body Color Original' icinde bulunan Metallic, Met (ve incelendikten sonra M2 ve M3) ifadeleri 
# ihtiyac halinde 'Paint Type' colonunun missing valuelarinin doldurulmasi icin kullanilacak, bunun haricinde
# bu kolonda fabrika orginal ruhsat renkleri oldugu icin cok detayli renk kartelasi olusturdugundan drop edilecektir ancak 
# 'Body_color' colonunun missing valuelarinin dolsurulmasi icin de yine bbu kolondan faydalanilabilir. Bu notebookta drop edecegiz.

# COLUMN-26 Upholstery

In [147]:
df1['Upholstery'].head(10)

0           [\nCloth, Black\n]
1            [\nCloth, Grey\n]
2           [\nCloth, Black\n]
3                          NaN
4           [\nCloth, Black\n]
5    [\nPart leather, Black\n]
6    [\nPart leather, Black\n]
7           [\nCloth, Black\n]
8            [\nCloth, Grey\n]
9                          NaN
Name: Upholstery, dtype: object

In [159]:
df1['Upholstery'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nBlue\n]                      2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nalcantara, Other\n]          2
[\nPart leather, Beige\n]       2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [149]:
df1['Upholstery'].isnull().sum()

3720

In [ ]:
# Bu sütundan 'upholstery_type' ve 'upholstery_color' isimli 2 sütun oluşturulacak ve 'Upholstery' sütunu DROP edilecek

In [127]:
# 'upholstery_type'

# df1['Upholstery'].map(lambda x : x[0].split(',')[1].strip('\n ') if len(x[0].split(',')) ==2\
                 # else x[0].strip('\n '), na_action = 'ignore')




df1['upholstery_type'] = [item[0] if type(item) == list else item for item in df1['Upholstery']]
df1['upholstery_type'] = df1['upholstery_type'].str.strip('\n')
df1['upholstery_type'].head(10)

0           Cloth, Black
1            Cloth, Grey
2           Cloth, Black
3                    NaN
4           Cloth, Black
5    Part leather, Black
6    Part leather, Black
7           Cloth, Black
8            Cloth, Grey
9                    NaN
Name: upholstery_type, dtype: object

In [ ]:
df1['upholstery_type'] = df1['Upholstery'].map(lambda x : x[0].split(',')[1].strip('\n ') if len(x[0].split(',')) ==2\
                  else x[0].strip('\n '), na_action = 'ignore')

In [ ]:
df1['upholstery_type'].value_counts(dropna=False)

In [ ]:
df1['upholstery_type'] = df1['upholstery_type'].fillna('Other')

In [ ]:
df1['upholstery_type'].value_counts(dropna=False)

In [ ]:
df1['upholstery_type'].isnull().sum()

In [ ]:
# 'upholstery_color'

df1['Upholstery'].map(lambda x:x[0].strip('\n').split(',')[0], na_action = 'ignore')

In [ ]:
df1['Upholstery'].head(2)

In [ ]:
df1['Upholstery'].map(lambda x:x[0].strip('\n').split(',')[-1], na_action = 'ignore')

# COLUMN-27 Body (DROP)

In [ ]:
# (3) 'body_type' ile beraber incelendiğinden DROP edilecek.

# COLUMN-28 Nr. of Doors (KEEP)

In [ ]:
df1['Nr. of Doors'].value_counts(dropna=False)

In [ ]:
df1['Nr. of Doors'] = df1['Nr. of Doors'].map(lambda x : float(x [0].strip('\n')), na_action = 'ignore')

In [ ]:
df1['Nr. of Doors'].value_counts(dropna=False)

# COLUMN-29 Nr. of Seats (KEEP)

In [ ]:
df1['Nr. of Seats'].value_counts(dropna=False)

In [ ]:
df1['Nr. of Seats'] = df1['Nr. of Seats'].map(lambda x : float(x[0].strip('\n')), na_action = 'ignore')

In [ ]:
df1['Nr. of Seats'].value_counts(dropna=False)

# COLUMN-30 Model Code

In [ ]:
df1['Model Code'].value_counts(dropna=False)

# COLUMN-31 Gearing Type (KEEP)

In [ ]:
df1['Gearing Type'].value_counts(dropna=False)

In [ ]:
df1['Gearing Type'] = df1['Gearing Type'].map(lambda x: x[1].strip())

In [ ]:
df1['Gearing Type'].value_counts(dropna=False)

# COLUMN-32 Displacement (KEEP)

In [ ]:
df1['Displacement'].value_counts(dropna=False)

In [ ]:
df1["Displacement"] = df1.Displacement.map(lambda x : x[0].strip(' cc\n ').replace(',',''), na_action = 'ignore').astype(float)

In [ ]:
df1['Displacement'].value_counts(dropna=False)

# COLUMN-33 Cylinders (KEEP)

In [ ]:
df1['Cylinders'].value_counts()

In [ ]:
df1["Cylinders"] = df1.Cylinders.map(lambda x: float(x[0].strip('\n')), na_action = 'ignore')

In [ ]:
df1['Cylinders'].value_counts()

# COLUMN- 34 Weight (DROP)

In [110]:
df['Weight'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,761 kg\n]       1
[\n1,331 kg\n]       1
[\n1,974 kg\n]       1
[\n1,711 kg\n]       1
[\n1,686 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [111]:
df['Weight'] = df.Weight.map(lambda x: float(x[0].strip('\nkg ').replace(',','')), na_action = 'ignore')

In [112]:
df['Weight'].value_counts(dropna=False)

NaN       6974
1163.0     574
1360.0     356
1165.0     301
1335.0     242
          ...
1161.0       1
1254.0       1
1379.0       1
1575.0       1
1159.0       1
Name: Weight, Length: 435, dtype: int64

# COLUMN-35 Drive chain (KEEP)

In [ ]:
df1['Drive chain'].value_counts(dropna=False)

In [ ]:
df1['Drive chain'] = df['Drive chain'].map(lambda x : x[0].strip('\n '), na_action = 'ignore')

In [ ]:
df1['Drive chain'].value_counts(dropna=False)

# COLUMN-36 Fuel (KEEP)

In [ ]:
df1['Fuel']

In [ ]:
df1['Fuel'].isnull().sum()

In [ ]:
df1['Fuel'].value_counts()

In [ ]:
df1['Fuel'][3][1]

In [ ]:
df1['Fuel'].map(lambda x : x[1], na_action = 'ignore')

In [ ]:
df1['Fuel'] = df1['Fuel'].map(lambda x : x[1], na_action = 'ignore')

In [ ]:
df1['Fuel'].value_counts(dropna=False)

In [ ]:
df1['Fuel'].isnull().sum()

In [ ]:
df1['Fuel'] = df1['Fuel'].str.replace('Super 95', 'Benzin')\
.str.replace('ElectricBenzin', 'Hybrid')\
.str.replace('Gasoline', 'Benzin')\
.str.replace('Super Plus 98', 'Benzin')\
.str.replace('Regular/Benzine 91', 'Benzin')\
.str.replace('(Particulate Filter)','')\
.str.replace('Super E10 95','Benzin')\
.str.replace('/','')\
.str.replace('RegularBenzine E10 91','Benzin')\
.str.replace('Super Plus E10 98','Benzin')\
.str.replace('Liquid petroleum gas', 'LPG')\
.str.replace('Domestic gas H', 'LPG')\
.str.replace('(','')\
.str.strip('() ')

In [ ]:
df1['Fuel'].value_counts() # çift olan değerleri teke indirmek için set yapılabilir

In [ ]:
df1['Fuel'] = df1['Fuel'].map(lambda x :list(set(x.split()))[0], na_action = 'ignore')

In [ ]:
df1['Fuel'].value_counts()

In [ ]:
df1['Fuel'].isnull().sum()

In [ ]:
# Araçla karşılaştırmalı doğru veri girildiği test edilecek (Biogaz vd)

In [ ]:
df1[df1['Fuel']=='Others']

In [ ]:
# (819 ve 4003, 11677) diesel olacak, (2885, 10374, 14500) benzin olacak

# COLUMN-37  Consumption (DROP)

In [ ]:
df1['Consumption'].value_counts(dropna = False).head(20)

In [ ]:
df1['Consumption'].isnull().sum()

In [ ]:
def parser1(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return x[1]
    else :
        return x[1]
    
def parser2(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[1] != []:
            return x[1][0]
        else:
            return np.nan
    elif x[3].endswith(')'):
        return x[3]
    else:
        return np.nan
    
def parser3(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[2] != []:
            return x[2][0]
        else:
            return np.nan
    elif type(x[0]) != list and x[3].endswith(')'):
        return x[5] 
    else:
        return np.nan

In [ ]:
df1['cons_comb'] = df1.Consumption.apply(parser1)
df1['cons_comb']

In [ ]:
df1['cons_city'] = df1.Consumption.apply(parser2)
df1['cons_city']

In [ ]:
df1['cons_country'] = df1.Consumption.apply(parser3)
df1['cons_country']

In [ ]:
df['cons_comb'] = df.Consumption.apply(parser1).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_city'] = df.Consumption.apply(parser2).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")
df['cons_country'] = df.Consumption.apply(parser3).str.extract('(\d{1,2}.\d|\d{1,3})')[0].astype("float")

In [ ]:
df['cons_comb']

In [ ]:
df['cons_comb'].isnull().sum()

# COLUMN-38 CO2 Emission (KEEP)

In [ ]:
df1['CO2 Emission'].head(1)

In [ ]:
df1['CO2 Emission'].isnull().sum()

In [ ]:
df1['CO2 Emission'] = df1['CO2 Emission'].map( lambda x: float(x.replace(' g CO2/km', '').replace(',', '.')), na_action='ignore')
df1['CO2 Emission']  # We need only values to enter to the ML Model

In [ ]:
df1['CO2 Emission'].unique()
# Some values seem wrong and somes are no value, we will fill th with correct one.

In [ ]:
df1['Model Code'] = df1['Model Code'].map(lambda x : x[0].strip('\n'), na_action = 'ignore')
df1['Model Code']
# df1['Model Code'] = df1[df1['CO2 Emission'].isna()==True]['Model Code'].map(lambda x : x[0].strip('\n'), na_action = 'ignore')
# We could benefit from Model Code, Make Model, Body Type and Description to fill the missing values.

In [ ]:
df1[(df1['CO2 Emission']<=90) | (df1['CO2 Emission']>=190)][['CO2 Emission','Model Code','make_model','body_type','short_description']]
# We need to decide logical min and max threshold values to correct to the wrong values

In [ ]:
df1[df1['CO2 Emission'].isna()==True][['CO2 Emission','Model Code','make_model','body_type','short_description']].sample(10)
# We could use Model Code','make_model','body_type','short_description' columns 
# to find and fill the missing(NaN) 'CO2 Emission' values with correct one too. 
# Or for this purpose we could easyly benefit from avarage value of same model cars.

In [ ]:
df1[df1['CO2 Emission'].isna()==True][['CO2 Emission','Emission Class','Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle']].sample(10)
# We could also use 'Emission Class','Next Inspection', 'Inspection new', 'Warranty'columns 
# to fill the wrong or missing 'CO2 Emission' values. Because some of them also involve 'CO2 Emission' values. 
# We could merge all of these columns in one column and get it the 'CO2 Emission' values from it.

In [ ]:
df1[df1['CO2 Emission'].isna()==True]['make_model'].unique()

In [ ]:
df1[df1['CO2 Emission'].isna()==True]['Model Code'].unique()

In [ ]:
df1[df1['CO2 Emission'].isna()==True][['CO2 Emission','make_model','Model Code', 'short_description']].sort_values(by='Model Code')

In [ ]:
#pandas.set_option('display.max_rows', None)
df1[df1['CO2 Emission'].isna()==True]['Model Code'].value_counts()

In [ ]:
df1[(df1['CO2 Emission'].isnull()) & (df1['CO2 Emission'].notnull())]

In [ ]:
df1[(df1['CO2 Emission'].notnull()) & (df['CO2 Emission'].isnull())]

In [ ]:
df['make_model']

# COLUMN-39 Emission Class (KEEP)

In [ ]:
df1['Emission Class'].head(3)

In [ ]:
df1['Emission Class'].isnull().sum()

In [ ]:
df1['Emission Class'].value_counts(dropna=False)

In [ ]:
df1['Emission Class'] = df1['Emission Class'].map(lambda x : np.nan if x[0] == [] else (x[0].strip('\n')), na_action = 'ignore')

In [ ]:
df1['Emission Class'].value_counts(dropna=False)

In [ ]:
df1[df1['Emission Class'].isna()==True][['Model Code','CO2 Emission','Emission Class','Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle','description']].sample(5)

In [ ]:
df1['FS'] = df1['Full Service'].map(lambda x : x[-1].strip('\n'), na_action = 'ignore')
df1['NI'] = df1['Next Inspection'].map(lambda x : x[-1].strip('\n'), na_action = 'ignore')
df1['IN'] = df1['Inspection new'].map(lambda x : x[-1].strip('\n'), na_action = 'ignore')
df1['W'] = df1['Warranty'].map(lambda x : x[-1].strip('\n'), na_action = 'ignore')
df1['NS'] = df1['Non-smoking Vehicle'].map(lambda x : x[-1].strip('\n'), na_action = 'ignore')

In [ ]:
df1[['CO2 Emission', 'Emission Class', 'Emission Label','FS', 'NI', 'IN', 'W', 'NS']]
# We could use Model Code','make_model','body_type','short_description' columns 
# to find and fill the missing(NaN) 'CO2 Emission' values with correct one too. 
# Or for this purpose we could easyly benefit from avarage value of same model cars.

In [ ]:
df1['EuroControl'] = df1['FS'] + ',' + df1['NI'] + ',' +df1['IN'] + ',' + df1['W'] + ',' + df1['NS']

In [ ]:
df1['EuroControl'] = df1['EuroControl'].map(lambda x :list(set(x.split(','))), na_action = 'ignore')

In [ ]:
df1['EuroControl'].sample(15)

# COLUMN-40 Comfort & Convenience

# COLUMN-41 Entertainment & Media

# COLUMN-42 Extras

# COLUMN-43 Safety & Security

# COLUMN-44  description

# COLUMN-45  Emission Label (KEEP)

NULL values will be filled via other columns.

In [ ]:
df1['Emission Label'].head(3)

In [ ]:
df1['Emission Label'].value_counts(dropna=False)

In [ ]:
df1['Emission Label'].isnull().sum()

In [ ]:
df1['Emission Label'].sample(5)

In [ ]:
df1['Emission Label'] = df1['Emission Label'].map(lambda x : np.nan if x[0] == [] else (x[0].strip('\n')[0]), na_action = 'ignore')

In [ ]:
df1['Emission Label']

In [ ]:
df1['Emission Label'].value_counts(dropna=False)

In [ ]:
df1['Emission Label'].isnull().sum()

# COLUMN-46 Gears (KEEP)

In [ ]:
df1['Gears'].value_counts(dropna=False)

In [ ]:
df1['Gears'] = df1['Gears'].map(lambda x: float(x[0].strip('\n')), na_action = 'ignore')

In [ ]:
df1['Gears'].value_counts(dropna=False)

# COLUMN-47 Country version

# COLUMN-48 Electricity consumption

# COLUMN-49 Last Service Date

# COLUMN-50 Other Fuel Types (DROP)

DROP edilecek

In [ ]:
df1['Other Fuel Types']

In [ ]:
df1['Other Fuel Types'].isnull().sum()

In [ ]:
df1['Other Fuel Types'].value_counts()

In [ ]:
# 'Other Fuel Types' sütununun içeriği boş olduğundan DROP edilecek.

# COLUMN-51 Availability

# COLUMN-52 Last Timing Belt Service Date

# COLUMN-53 Available from

In [68]:
for x in df1['Warranty']:
    if type(x) == float:
        print(np.nan)
    elif type(x) == list:
        print(df1['Warranty'][x][0].str.strip('\n'))
    else:
        print(df1['Warranty'][x].str.strip('\n'))

KeyError: "None of [Index(['\\n', '\\n', '\\n4 (Green)\\n'], dtype='object')] are in the [index]"

In [69]:
for x in df1['Warranty']:
    if type(x) == float:
        return np.nan
    elif type(x) == list:
        return df1['Warranty'][x][0].str.strip('\n')
    else:
        return df1['Warranty'][x].str.strip('\n')

SyntaxError: 'return' outside function (<ipython-input-69-bea63d8c255d>, line 3)

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)